In [ ]:
# strings
# 'string' using single quotes
# "string" using double quotes
# '''multi line 
# string''' multi line string 3 x single quote/double quote
# using 'str()' function

In [ ]:
#       0123
name = 'John'

name[0]

name[1:3]

txt = 'I am John. I am from London'


# [start:end[:step]]
# end is not included

'oh'

In [13]:
txt = 'I am John. I am from London'

txt.split(' ')

txt[-6:]

# [start:end]

'London'

In [92]:
first_name = 'Sam'
last_name = 'Hello'
city = 'London'
address = 'O\'zbeksiton ko\'chasi 10-uy'

# first_name+ ' ' + last_name + ' ' + city + ' ' + address

','.join([first_name, last_name, city, address, '15'])


# ''.join([10,134,132,41,324])
# first_name * 2

"Sam,Hello,London,O'zbeksiton ko'chasi 10-uy,15"

In [34]:
# lists

my_list = [1, 'Sam', 3.10, 1 + 2j]

nums_list = [2, 3, 5, 7, 11, 13, 17, 19] # prime numbers

list_names = ['Toshkent', 'Andijon', 'Buxoro', 'Samarqand'] # regions of Uzbekistan


# type(my_list)

# type(nums_list)

# type(list_names)

my_list

[1, 'Sam', 3.1, (1+2j)]

In [37]:
# my_list = [1, 'Sam', 3.10, 1 + 2j, [1, 2, 3, 4, 5]] # nested list


new_list = list()

type(new_list)

list

In [40]:
# iterable data types are those which you can access every element of the object.
# iterable data typeda objectning har bir elementini chaqirib olish imkoniyati mavjud bo'ladi.
# strings are iterable 
# lists are iterable
name = 'John'

name[2]

# letters = list('')

'h'

In [ ]:
letters = list('abcdefghjklmnop')

letters

new_letters = list('hello world')

print(new_letters)

# len(new_letters)
len(letters)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

15

In [51]:
my_list = [1, 2, 4, 5, 6, 1, 4, 8, 10, 6, 1]

my_list.count(10)

my_list.count(1)

my_list.count(8)

my_list.count(15)

## double-underscore (__) methods are called 'magic methods' or 'dunder methods'

0

In [60]:
name = 'Anna'
print(name.count('n'))
# python is case sensitive(katta va kichik harflar bir biridan farq qiladi)

2

In [62]:
my_list = list('abcde')
# in-place action
my_list.reverse()

my_list

['e', 'd', 'c', 'b', 'a']

In [84]:
# append() = adds the given element to the end of the list.
# append() = berilgan elementni list ning oxiriga qo'shib qo'yadi
my_list1 = ['a', 'b', 'c', 'd']

my_list1.append('salom')
my_list1.append(10)
my_list1.append(5.55)
my_list1.append([1, 2, 3, 4, 5])

my_list1

['a', 'b', 'c', 'd', 'salom', 10, 5.55, [1, 2, 3, 4, 5]]

In [88]:
# insert() = adds the given element to the given index of the list.
# insert() = berilgan elementni berilgan index ga qo'shib beradi.
# insert(index, value)
#           0  1  2  3  4
new_list = [1, 3, 4 ,5, 7, 8, 9]

new_list.insert(1, 'ikki')

#  0     1    2  3  4  5
# [1, 'ikki', 3, 4, 5, 7, 8, 9]


new_list.insert(5, 'olti')
new_list.append(10)

new_list

[1, 'ikki', 3, 4, 5, 'olti', 7, 8, 9, 10]

In [101]:
nums1 = [1, 2, 3, 4, 6]
nums2 = [7, 8, 10, 12, 15]

nums1.extend(nums2)

nums1

nums1.extend('hello')

nums1.insert(0, 'hello')

nums1

['hello', 1, 2, 3, 4, 6, 7, 8, 10, 12, 15, 'h', 'e', 'l', 'l', 'o']

In [102]:
# iterable = objectning har bir elementini chaqirib olish imkoniyati mavjud bo'ladi

name = 'John'

name[0]

world_population = 823_645_234_523

# world_population[4]

In [ ]:
nums1 = [1, 2, 3, 4, 6]
nums2 = [7, 8, 10, 12, 15]

combined_nums = nums1 + nums2

nums1

combined_nums

[1, 2, 3, 4, 6, 7, 8, 10, 12, 15]

In [123]:
# accessing elements of a list
# listning elementlarini chaqirib olish
# we can do indexing and slicing with lists

nums1 = [1, 2, 3, 4, 6]

nums2 = [7, 8, 10, 12, 15]

combined_nums = nums2 + nums1

combined_nums[-1]
combined_nums[-3:]

# combined_nums[10]



# [0:4] 4 is not included
#  0  1  2   3    4
# [7, 8, 10, 12, 15, 1, 2, 3, 4, 6]
combined_nums[:5]


combined_nums[1:6:2]

[8, 12, 1]

In [ ]:
# pop() = removes last element of the given list
# pop(n) = removes the element which has the index of n
combined_nums = [7, 8, 10, 12, 15, 1, 2, 3, 4, 6]

combined_nums.pop()

combined_nums.pop(0)

combined_nums.pop(20)

IndexError: pop index out of range

In [ ]:
# remove(a) = deletes the first accurence of the given element

combined_nums = [7, 8, 10, 12, 15, 1, 2, 3, 4, 6, 10, 'a','b', 'c', 'a', 'd']

combined_nums.remove('a')

# combined_nums.remove('hello') ## list.remove(x): x not in list

In [ ]:
combined_nums = [7, 8, 10, 12, 15, 1, 2, 3, 4, 6, 10, 'a','b', 'c', 'a', 'd']


del combined_nums[2]

combined_nums

[7, 8, 12, 15, 1, 2, 3, 4, 6, 10, 'a', 'b', 'c', 'a', 'd']

In [148]:
# sorting lists
# sort() method or sorted() function
my_nums = [7, 8, 10, 12, 15, 1, 2, 3, 4, 6, 10]

my_nums.sort()

# my_nums.reverse()

my_nums

letters = list('fweiurgdf')

letters.sort()

letters

['d', 'e', 'f', 'f', 'g', 'i', 'r', 'u', 'w']

In [152]:
my_nums = [7, 8, 10, 12, 15, 1, 2, 3, 4, 6, 10]

sorted(my_nums)

sorted(my_nums, reverse=True)

[15, 12, 10, 10, 8, 7, 6, 4, 3, 2, 1]